<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076710305835-4bo7hvhs31af6gjs233d1mt1nkd387de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076710305835-4bo7hvhs31af6gjs233d1mt1nkd387de</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1076710305835-o388uha4820lotefrntvdlellcrkr6tn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEmK00Z5bDyFsrvIWQLWCwX4QDhcoa-04</string>
	<key>GCM_SENDER_ID</key>
	<string>1076710305835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itFest</string>
	<key>PROJECT_ID</key>
	<string>itfest-4f403</string>
	<key>STORAGE_BUCKET</key>
	<string>itfest-4f403.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076710305835:ios:fec28b5b6cccc65a043a6e</string>
</dict>
</plist>